@using GerenciadorGeral.application.DTO
<h3>CompraItem</h3>

<div class="modal-body">
    <div class="card-footer">
        <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal"></button>
    </div>
</div>


@code {
    [Parameter] public CompraItemDTO item { get; set; }
    [Parameter] public string FormAction { get; set; }
    [Parameter] public EventCallback Refresh { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
