@using GerenciadorGeral.application.DTO

@* <div class="modal-body">
    <div class="card-footer">
        <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">X</button>
    </div>
</div> *@

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Adicionar item</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
</div>
<div class="modal-body">
    ...
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
    <button type="button" class="btn btn-primary">Salvar</button>
</div>


@code {
    [Parameter] public CompraItemDTO item { get; set; }
    [Parameter] public string FormAction { get; set; }
    [Parameter] public EventCallback Refresh { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
