@page "/Usuario/Index"

@using GerenciadorGeral.application.DTO
@using GerenciadorGeral.domain.Entidades;
@using Formatacao
@inject IJSRuntime JSRuntime;
@inject GerenciadorGeral.application.Interfaces.IUsuarioApp UsuarioApp;
@rendermode InteractiveAuto

<h3>Usuário</h3>

<a href="/Usuario/Editar" class="btn btn-sucess">Criar</a>

<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    @if (listaUsuarios != null && listaUsuarios.Count() > 0)
    {
      foreach (var item in listaUsuarios)
      {
        <tr>
          <td>@item.Nome</td>
          <td>
            <a href="/Usuario/Editar/@item.Id" class="btn btn-primary">Editar</a>
            <button class="btn btn-danger" @onclick="async () => Delete(item.Id)">Excluir</button>
          </td>
        </tr>
      }
    }
  </tbody>
</table>

@code {
  ICollection<UsuarioDTO> listaUsuarios = new HashSet<UsuarioDTO>();
  protected override async Task OnInitializedAsync()
  {
    listaUsuarios = await PopularUsuarios();
  }

  private async Task<ICollection<UsuarioDTO>> PopularUsuarios()
  {
    return await UsuarioApp.Listar();
  }

  public async Task Delete(Guid Id)
  {
    bool confirma = await JSRuntime.InvokeAsync<bool>("confirm", "Deseja excluir a Usuario?");
    if (!confirma)
      return;

    var Usuario = await UsuarioApp.SelectById(Id);

    await UsuarioApp.Delete(Id);

    listaUsuarios = await PopularUsuarios();

    StateHasChanged();
  }
}